body, button, input {
  font-family: consolas
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-theme {
  background-color: #f4f4f4;
  color: #333;
}

.dark-theme {
  background-color: #222;
  color: #fff;
}

.calculator-container {
  display: flex;
}

.calculator {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#result {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 1px;
  font-size: 35px;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: #e8e8e8;
  color: #333;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.number {
  width: calc(25% - 10px);
  background-color: #ccc;
  color: #333;
}

.operator, #clear, #equals {
  width: calc(25% - 10px);
  background-color: #666;
  color: #fff;
}

button:hover {
  background-color: #d9d9d9;
}

.operator:hover, #clear:hover, #equals:hover {
  background-color: #c4c4c4;
}

#clear:hover {
  background-color: #d65a4d;
}

.history-container {
  width: 200px;
  margin-left: 20px;
}

.history-container h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

#history-list {
  font-size: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#history-list li {
  margin-bottom: 5px;
}

#clear-history {
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#clear-history:hover {
  background-color: #c4c4c4;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
}

#theme-icon {
  transition: 0.3s ease;
  width: 30px;
  height: 30px;
}
